
{% extends "_base.html" %}
{% load static %}

{% block title %}
Home
{% endblock title %}    


{% block content %}

<h1>Homepage it's going down</h1>
<img class="bookcover" src="{% static 'images/book_cover.jpg' %}" alt="The Ws.vincent book cover" />


    {% if user.is_authenticated %}

    <p>Hi {{user.email}}, You are logged in</p>
    <p> <a href="{% url "logout" %}"> Logout</a> </p>

    {% else %}

    <p>You are not logged in </p>
    <a href="{% url "login" %}"> Log In</a>
    <a href="{% url "signup" %}"> Sign Up</a>

    {% endif %}

{% endblock content %}